{% extends 'main_app/components/base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
  {% include 'main_app/components/intro.html' %}
  {% include 'main_app/components/about_me.html' %}
  {% include 'main_app/components/skills.html' %}
  {% include 'main_app/components/projects.html' %}
  {% include 'main_app/components/contact.html' %}
  <a href="#" style="margin-top: 3rem; display: block; width: 100%; padding-bottom: 1rem; color: white; text-align: center;">Back to Top</a>
{% endblock content %}