<div id="section" class="container">
  <h2 class="section-title contact-h2">Work with me</h2>
  <form id="contact-form" class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 mb-2">
        <label for="fname">First name</label>
        <input id="fname" name="fname" type="text" class="form-control" placeholder="First name" required>
      </div>
      <div class="col-md-4 mb-2">
        <label for="lname">Last name</label>
        <input id="lname" type="text" class="form-control" name="lname" placeholder="Last name" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-control" name="email" placeholder="example@email.com" required>
        <div class="invalid-feedback">
          Please provide a valid email.
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="form-group col">
        <label for="message">Leave me a note:</label>
        <textarea id="message" class="form-control" name="message" rows="3"></textarea>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 mb-3">
        <button class="btn btn-outline-primary" style="width: 100%; margin-top: 2rem;" type="submit">Submit form</button>
      </div>
    </div>
  </form>
</div>