<nav id="navbar" class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Markos Sankey</a>
    <button id="navbar-btn" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-weight: 900;">Menu</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <h2><a class="nav-link active" aria-current="page" href="#">Home</a></h2>
          </li>
          <li class="nav-item">
            <h2><a class="nav-link" href="#">Skills & Certs</a></h2>
          </li>
          <li class="nav-item">
            <h2><a class="nav-link" href="#">Projects</a></h2>
          </li>
          <li class="nav-item">
            <h2><a class="nav-link" href="#">Contact</a></h2>
          </li>
          <li class="nav-item">
            <h2><a class="nav-link" href="#">Resume</a></h2>
          </li>
          <div id="menu-socials">
            <div>
              {% load static %}
              <img class="social-icons" src={% static 'main_app/icons/001-linkedin.png' %} alt="Linked In Icon">
              <img class="social-icons" src={% static 'main_app/icons/002-github.png' %} alt="Linked In Icon">
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>