<div id="about-section" class="container section">
  <h2 id="about-h2" class="section-title">Skills and Certifications</h2>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto">
        <img class="cert-badge" src="https://images.credly.com/size/220x220/images/68468004-5a85-4f3b-bc58-590773979486/AWS-CloudPractitioner-2020.png" alt="Amazon Web Services Certified Cloud Practioner Badge">
      </div>
      <div class="col-auto">    
        <img class="cert-badge" src="https://images.credly.com/size/680x680/images/f0adcc07-4388-459f-9b98-9a487ff1e8fd/cert_mark_SP_badge_large_300px.png" alt="Safe 5 Practioner Badge">
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="skill-badge card">
          <img class="skill-badge mx-auto" src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_1280.png" alt="HTML Icon">  
          <div class="card-body">
            <p class="card-text text-center">HTML</p>
          </div>
        </div>
        <div class="skill-badge  mx-autocard">
          <img class="skill-badge mx-auto" src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png" alt="CSS Icon">  
          <div class="card-body">
            <p class="card-text text-center">CSS</p>
          </div>
        </div>
        <div class="skill-badge card">
          <img class="skill-badge mx-auto" src="https://cdn.pixabay.com/photo/2015/04/23/17/41/javascript-736400_1280.png" alt="JS Icon">  
          <div class="card-body">
            <p class="card-text text-center">Javascript</p>
          </div>
        </div>
        <div class="skill-badge card">
          <img class="skill-badge mx-auto" src="https://cdn.picpng.com/logo/language-logo-python-44976.png" alt="Python Icon">  
          <div class="card-body">
            <p class="card-text text-center">Python</p>
          </div>
        </div>
        <div class="skill-badge card">
          <img class="skill-badge mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png?20220125121207" alt="React Icon">  
          <div class="card-body">
            <p class="card-text text-center">React</p>
          </div>
        </div>
        <div class="skill-badge card">  
          <img class="skill-badge mx-auto" src="https://icon-library.com/images/django-icon/django-icon-0.jpg" alt="Django Icon">
          <div class="card-body">
            <p class="card-text text-center">Django</p>
          </div>
        </div>
        <div class="skill-badge card">  
          <img class="skill-badge mx-auto" src="http://cdn.onlinewebfonts.com/svg/img_145851.png" alt="Postgres Icon">
          <div class="card-body">
            <p class="card-text  text-center">Postgres</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
